<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="LanguageSharp" value="https://ci.appveyor.com/nuget/languagessharp" />
        <add key="C# Lex Yacc" value="https://ci.appveyor.com/nuget/csly" />
    </packageSources>
</configuration>
